{
  "openapi": "3.0.1",
  "info": {
    "title": "Liquipack Workflow - APIs",
    "description": "APIs for Liquipack Workflow <br /> [Download api document(.yaml)](/api-doc/download/yaml) <br /> [Download api document(.json)](/api-doc/download/json)",
    "contact": {
      "email": "sushant.kum96@gmail.com"
    },
    "license": {
      "name": "MIT License",
      "url": "https://github.com/sushant-kum/liquipack_systems_b_end/blob/master/LICENSE"
    },
    "version": "2.1.0"
  },
  "externalDocs": {
    "description": "Github Repository",
    "url": "https://github.com/sushant-kum/liquipack_systems_b_end"
  },
  "servers": [
    {
      "url": "https://liquipack.cf/api"
    },
    {
      "url": "http://liquipack.cf/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "users",
      "description": "User Management"
    },
    {
      "name": "profile",
      "description": "Profile Management"
    },
    {
      "name": "quotations",
      "description": "Quotation Management"
    },
    {
      "name": "quotations-configs",
      "description": "Quotation Config Management"
    }
  ],
  "paths": {
    "/users": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Get list of all users",
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__get__users"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      },
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Create new user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "app_permissions",
                  "email",
                  "name",
                  "password_hash",
                  "username"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "username of the user (must be unique)"
                  },
                  "password_hash": {
                    "type": "string",
                    "description": "MD5 hash of the user's password"
                  },
                  "app_permissions": {
                    "type": "array",
                    "description": "Identifiers of apps the user has permissions to",
                    "items": {
                      "type": "object",
                      "properties": {
                        "app": {
                          "type": "string"
                        },
                        "permissions": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "read",
                              "write"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "name": {
                    "type": "string",
                    "description": "User's name"
                  },
                  "email": {
                    "type": "string",
                    "description": "User's email address"
                  },
                  "phone": {
                    "type": "string",
                    "description": "User's phone number"
                  },
                  "gender": {
                    "type": "string",
                    "description": "User's gender",
                    "enum": [
                      "male",
                      "female",
                      "others"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__post__users"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      }
    },
    "/users/:user_id": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Get user by user_id (ObjectId)",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "_id (ObjectId) of the user object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__get__users__user_id"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      },
      "put": {
        "tags": [
          "users"
        ],
        "summary": "Modifies user data",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "_id (ObjectId) of the user object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "app_permissions",
                  "email",
                  "name",
                  "password_hash"
                ],
                "properties": {
                  "password_hash": {
                    "type": "string",
                    "description": "MD5 hash of the user's password"
                  },
                  "app_permissions": {
                    "type": "array",
                    "description": "Identifiers of apps the user has permissions to",
                    "items": {
                      "type": "object",
                      "properties": {
                        "app": {
                          "type": "string"
                        },
                        "permissions": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "read",
                              "write"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "name": {
                    "type": "string",
                    "description": "User's name"
                  },
                  "email": {
                    "type": "string",
                    "description": "User's email address"
                  },
                  "phone": {
                    "type": "string",
                    "description": "User's phone number"
                  },
                  "gender": {
                    "type": "string",
                    "description": "User's gender",
                    "enum": [
                      "male",
                      "female",
                      "others"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__put__users__user_id"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      },
      "delete": {
        "tags": [
          "users"
        ],
        "summary": "Delete (permanently) user by user_id (ObjectId)",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "_id (ObjectId) of the user object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__delete__users__user_id"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      }
    },
    "/users/:user_id/enable": {
      "patch": {
        "tags": [
          "users"
        ],
        "summary": "Enable (make active) user by user_id (ObjectId)",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "_id (ObjectId) of the user object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__patch__users__user_id__enable"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      }
    },
    "/users/:user_id/disable": {
      "patch": {
        "tags": [
          "users"
        ],
        "summary": "Disable (make inactive) user by user_id (ObjectId)",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "_id (ObjectId) of the user object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__patch__users__user_id__disable"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      }
    },
    "/profile/:user_id": {
      "get": {
        "tags": [
          "profile"
        ],
        "summary": "Get user by user_id (ObjectId)",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "_id (ObjectId) of the user object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__get__profile__user_id"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      },
      "put": {
        "tags": [
          "profile"
        ],
        "summary": "Modifies user data",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "_id (ObjectId) of the user object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "email",
                  "name",
                  "password_hash"
                ],
                "properties": {
                  "password_hash": {
                    "type": "string",
                    "description": "MD5 hash of the user's password"
                  },
                  "name": {
                    "type": "string",
                    "description": "User's name"
                  },
                  "email": {
                    "type": "string",
                    "description": "User's email address"
                  },
                  "phone": {
                    "type": "string",
                    "description": "User's phone number"
                  },
                  "gender": {
                    "type": "string",
                    "description": "User's gender",
                    "enum": [
                      "male",
                      "female",
                      "others"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__put__profile__user_id"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      }
    },
    "/quotations": {
      "get": {
        "tags": [
          "quotations"
        ],
        "summary": "Get list of all quotations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__get__quotations"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      },
      "post": {
        "tags": [
          "quotations"
        ],
        "summary": "Create new quotation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "auto_level_tank",
                  "bottle_moc",
                  "customer_details",
                  "extra_cups_sets",
                  "filters_required",
                  "gmp_requirement",
                  "illumination_required",
                  "industry",
                  "no_of_washes",
                  "quotation_num",
                  "speed",
                  "water_saving"
                ],
                "properties": {
                  "quotation_num": {
                    "type": "string",
                    "description": "quotation_num of the quotation (must be unique)"
                  },
                  "speed": {
                    "type": "object",
                    "description": "Speed and price",
                    "properties": {
                      "qty": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "no_of_washes": {
                    "type": "object",
                    "description": "Num of washes and price",
                    "properties": {
                      "qty": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "industry": {
                    "type": "object",
                    "description": "Industry and price",
                    "properties": {
                      "qty": {
                        "type": "string"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "gmp_requirement": {
                    "type": "object",
                    "description": "GMP requirement and price",
                    "properties": {
                      "qty": {
                        "type": "boolean"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "bottle_moc": {
                    "type": "object",
                    "description": "Bottle MOC and price",
                    "properties": {
                      "qty": {
                        "type": "string"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "water_saving": {
                    "type": "object",
                    "description": "Water saving and price",
                    "properties": {
                      "qty": {
                        "type": "boolean"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "filters_required": {
                    "type": "object",
                    "description": "Filter requirement and price",
                    "properties": {
                      "qty": {
                        "type": "boolean"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "illumination_required": {
                    "type": "object",
                    "description": "Illumination requirement and price",
                    "properties": {
                      "qty": {
                        "type": "boolean"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "auto_level_tank": {
                    "type": "object",
                    "description": "Auto tank leveling requirement and price",
                    "properties": {
                      "qty": {
                        "type": "boolean"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "extra_cups_sets": {
                    "type": "object",
                    "description": "Extra Cups Sets and price",
                    "properties": {
                      "qty": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "oteher_details": {
                    "type": "string",
                    "description": "Other details/notes"
                  },
                  "customer_details": {
                    "type": "object",
                    "description": "Customer name and contact details",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "address": {
                        "type": "string"
                      },
                      "person_of_contact": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "contact_no": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__post__quotations"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      }
    },
    "/quotations/:quotation_id": {
      "get": {
        "tags": [
          "quotations"
        ],
        "summary": "Get quotation by quotation_id (ObjectId)",
        "parameters": [
          {
            "name": "quotation_id",
            "in": "path",
            "description": "_id (ObjectId) of the quotation object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__get__quotations__quotation_id"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      },
      "put": {
        "tags": [
          "quotations"
        ],
        "summary": "Modifies quotation data",
        "parameters": [
          {
            "name": "quotation_id",
            "in": "path",
            "description": "_id (ObjectId) of the quotation object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "auto_level_tank",
                  "bottle_moc",
                  "customer_details",
                  "extra_cups_sets",
                  "filters_required",
                  "gmp_requirement",
                  "illumination_required",
                  "industry",
                  "no_of_washes",
                  "speed",
                  "water_saving"
                ],
                "properties": {
                  "speed": {
                    "type": "object",
                    "description": "Speed and price",
                    "properties": {
                      "qty": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "no_of_washes": {
                    "type": "object",
                    "description": "Num of washes and price",
                    "properties": {
                      "qty": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "industry": {
                    "type": "object",
                    "description": "Industry and price",
                    "properties": {
                      "qty": {
                        "type": "string"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "gmp_requirement": {
                    "type": "object",
                    "description": "GMP requirement and price",
                    "properties": {
                      "qty": {
                        "type": "boolean"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "bottle_moc": {
                    "type": "object",
                    "description": "Bottle MOC and price",
                    "properties": {
                      "qty": {
                        "type": "string"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "water_saving": {
                    "type": "object",
                    "description": "Water saving and price",
                    "properties": {
                      "qty": {
                        "type": "boolean"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "filters_required": {
                    "type": "object",
                    "description": "Filter requirement and price",
                    "properties": {
                      "qty": {
                        "type": "boolean"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "illumination_required": {
                    "type": "object",
                    "description": "Illumination requirement and price",
                    "properties": {
                      "qty": {
                        "type": "boolean"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "auto_level_tank": {
                    "type": "object",
                    "description": "Auto tank leveling requirement and price",
                    "properties": {
                      "qty": {
                        "type": "boolean"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "extra_cups_sets": {
                    "type": "object",
                    "description": "Extra Cups Sets and price",
                    "properties": {
                      "qty": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      }
                    }
                  },
                  "oteher_details": {
                    "type": "string",
                    "description": "Other details/notes"
                  },
                  "customer_details": {
                    "type": "object",
                    "description": "Customer name and contact details",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "address": {
                        "type": "string"
                      },
                      "person_of_contact": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "contact_no": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__put__quotations__quotation_id"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      },
      "delete": {
        "tags": [
          "quotations"
        ],
        "summary": "Delete (permanently) quotation by quotation_id (ObjectId)",
        "parameters": [
          {
            "name": "quotation_id",
            "in": "path",
            "description": "_id (ObjectId) of the quotation object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__delete__quotations__quotation_id"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      }
    },
    "/quotations/:quotation_id/enable": {
      "patch": {
        "tags": [
          "quotations"
        ],
        "summary": "Enable (make active) quotation by quotation_id (ObjectId)",
        "parameters": [
          {
            "name": "quotation_id",
            "in": "path",
            "description": "_id (ObjectId) of the user object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__patch__quotations__quotation_id__enable"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      }
    },
    "/quotations/:quotation_id/disable": {
      "patch": {
        "tags": [
          "quotations"
        ],
        "summary": "Disable (make inactive) quotation by quotation_id (ObjectId)",
        "parameters": [
          {
            "name": "quotation_id",
            "in": "path",
            "description": "_id (ObjectId) of the user object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__patch__quotations__quotation_id__disable"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      }
    },
    "/quotations/configs": {
      "get": {
        "tags": [
          "quotations-configs"
        ],
        "summary": "Get list of all quotations-configs",
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__get__quotations__configs"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      },
      "post": {
        "tags": [
          "quotations-configs"
        ],
        "summary": "Create new quotation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "config_name",
                  "speed",
                  "no_of_washes",
                  "industry",
                  "gmp_requirement",
                  "bottle_moc",
                  "water_saving",
                  "filters_required",
                  "illumination_required",
                  "auto_level_tank",
                  "extra_cups_sets"
                ],
                "properties": {
                  "config_name": {
                    "type": "string",
                    "description": "config_name of the quotation (must be unique)"
                  },
                  "speed": {
                    "type": "object",
                    "description": "Speed and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "number"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "no_of_washes": {
                    "type": "object",
                    "description": "Num of washes and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "number"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "industry": {
                    "type": "object",
                    "description": "Industry and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "string"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "gmp_requirement": {
                    "type": "object",
                    "description": "GMP requirement and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "boolean"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "bottle_moc": {
                    "type": "object",
                    "description": "Bottle MOC and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "string"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "water_saving": {
                    "type": "object",
                    "description": "Water saving and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "boolean"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "filters_required": {
                    "type": "object",
                    "description": "Filter requirement and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "boolean"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "illumination_required": {
                    "type": "object",
                    "description": "Illumination requirement and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "boolean"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "auto_level_tank": {
                    "type": "object",
                    "description": "Auto tank leveling requirement and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "boolean"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "extra_cups_sets": {
                    "type": "object",
                    "description": "Extra Cups Sets and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "number"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__post__quotations__configs"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      }
    },
    "/quotations/configs/active": {
      "get": {
        "tags": [
          "quotations-configs"
        ],
        "summary": "Get active quotations-configs",
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__get__quotations__configs__active"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      }
    },
    "/quotations/configs/:config_id": {
      "get": {
        "tags": [
          "quotations-configs"
        ],
        "summary": "Get quotation-config by config_id (ObjectId)",
        "parameters": [
          {
            "name": "config_id",
            "in": "path",
            "description": "_id (ObjectId) of the quotation-config object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__get__quotations__configs__config_id"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      },
      "put": {
        "tags": [
          "quotations-configs"
        ],
        "summary": "Modifies quotation-config data",
        "parameters": [
          {
            "name": "config_id",
            "in": "path",
            "description": "_id (ObjectId) of the quotation-config object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "speed",
                  "no_of_washes",
                  "industry",
                  "gmp_requirement",
                  "bottle_moc",
                  "water_saving",
                  "filters_required",
                  "illumination_required",
                  "auto_level_tank",
                  "extra_cups_sets"
                ],
                "properties": {
                  "speed": {
                    "type": "object",
                    "description": "Speed and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "number"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "no_of_washes": {
                    "type": "object",
                    "description": "Num of washes and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "number"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "industry": {
                    "type": "object",
                    "description": "Industry and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "string"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "gmp_requirement": {
                    "type": "object",
                    "description": "GMP requirement and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "boolean"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "bottle_moc": {
                    "type": "object",
                    "description": "Bottle MOC and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "string"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "water_saving": {
                    "type": "object",
                    "description": "Water saving and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "boolean"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "filters_required": {
                    "type": "object",
                    "description": "Filter requirement and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "boolean"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "illumination_required": {
                    "type": "object",
                    "description": "Illumination requirement and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "boolean"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "auto_level_tank": {
                    "type": "object",
                    "description": "Auto tank leveling requirement and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "boolean"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  },
                  "extra_cups_sets": {
                    "type": "object",
                    "description": "Extra Cups Sets and price options and default option",
                    "properties": {
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qty": {
                              "type": "number"
                            },
                            "price": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "default_option_index": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__put__quotations__configs__config_id"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      },
      "delete": {
        "tags": [
          "quotations-configs"
        ],
        "summary": "Delete (permanently) quotation-config by config_id (ObjectId)",
        "parameters": [
          {
            "name": "config_id",
            "in": "path",
            "description": "_id (ObjectId) of the quotation-config object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__delete__quotations__configs__config_id"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      }
    },
    "/quotations/configs/:config_id/enable": {
      "patch": {
        "tags": [
          "quotations-configs"
        ],
        "summary": "Enable (make active) quotation-config by config_id (ObjectId) and disable other quotation-configs",
        "parameters": [
          {
            "name": "config_id",
            "in": "path",
            "description": "_id (ObjectId) of the quotations-config object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/response__patch__quotations__configs__config_id__enable"
          },
          "400": {
            "$ref": "#/components/responses/response__400"
          },
          "403": {
            "$ref": "#/components/responses/response__403"
          },
          "500": {
            "$ref": "#/components/responses/response__500"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "password_hash": {
            "type": "string"
          },
          "app_permissions": {
            "$ref": "#/components/schemas/AppPermissions"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "gender": {
            "type": "string",
            "enum": [
              "male",
              "female",
              "others"
            ]
          },
          "created_date": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "__v": {
            "type": "number"
          }
        },
        "example": {
          "app_permissions": [],
          "is_active": true,
          "_id": "5cb6b7e66867672114c6f4d6",
          "created_date": "2019-04-17T05:21:42.104Z",
          "username": "admin",
          "password_hash": "21232f297a57a5a743894a0e4a801fc3",
          "name": "Sushant Kumar",
          "gender": "male",
          "email": "sushant.kum96@gmail.com",
          "phone": "9740895495",
          "__v": 0
        }
      },
      "AppPermissions": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "app": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "permissions": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "read",
                  "write"
                ]
              }
            }
          }
        }
      },
      "Quotation": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "quotation_num": {
            "type": "string"
          },
          "speed": {
            "type": "object",
            "properties": {
              "price": {
                "type": "number"
              },
              "qty": {
                "type": "number"
              }
            }
          },
          "no_of_washes": {
            "type": "object",
            "properties": {
              "price": {
                "type": "number"
              },
              "qty": {
                "type": "number"
              }
            }
          },
          "industry": {
            "type": "object",
            "properties": {
              "price": {
                "type": "number"
              },
              "qty": {
                "type": "string"
              }
            }
          },
          "gmp_requirement": {
            "type": "object",
            "properties": {
              "price": {
                "type": "number"
              },
              "qty": {
                "type": "boolean"
              }
            }
          },
          "bottle_moc": {
            "type": "object",
            "properties": {
              "price": {
                "type": "number"
              },
              "qty": {
                "type": "string"
              }
            }
          },
          "water_saving": {
            "type": "object",
            "properties": {
              "price": {
                "type": "number"
              },
              "qty": {
                "type": "boolean"
              }
            }
          },
          "filters_required": {
            "type": "object",
            "properties": {
              "price": {
                "type": "number"
              },
              "qty": {
                "type": "boolean"
              }
            }
          },
          "illumination_required": {
            "type": "object",
            "properties": {
              "price": {
                "type": "number"
              },
              "qty": {
                "type": "boolean"
              }
            }
          },
          "auto_level_tank": {
            "type": "object",
            "properties": {
              "price": {
                "type": "number"
              },
              "qty": {
                "type": "boolean"
              }
            }
          },
          "extra_cups_sets": {
            "type": "object",
            "properties": {
              "price": {
                "type": "number"
              },
              "qty": {
                "type": "number"
              }
            }
          },
          "oteher_details": {
            "type": "string"
          },
          "customer_details": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string"
              },
              "contact_no": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "person_of_contact": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "created_by": {
            "type": "string"
          },
          "created_date": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "__v": {
            "type": "number"
          }
        },
        "example": {
          "_id": "5d5f8ed35255a031a7ee960c",
          "is_active": true,
          "quotation_num": "Q0001",
          "speed": {
            "qty": 64,
            "price": 508000
          },
          "no_of_washes": {
            "qty": 64,
            "price": 24250
          },
          "industry": {
            "qty": "Pharma",
            "price": 36000
          },
          "gmp_requirement": {
            "qty": false
          },
          "bottle_moc": {
            "qty": "Glass",
            "price": 30000
          },
          "water_saving": {
            "qty": true,
            "price": 72000
          },
          "filters_required": {
            "qty": true,
            "price": 41500
          },
          "illumination_required": {
            "qty": false
          },
          "auto_level_tank": {
            "qty": true,
            "price": 30000
          },
          "extra_cups_sets": {
            "qty": 1,
            "price": 16500
          },
          "oteher_details": "asd",
          "customer_details": {
            "name": "Sushant Tech",
            "address": "Bangalore",
            "poc": {
              "title": "Mr",
              "name": "Sushant"
            },
            "contact_no": "9740895495"
          },
          "created_by": "5cbb5d71f3cb256e348e9a56",
          "created_date": "2019-08-23T06:59:31.396Z",
          "__v": 0
        }
      },
      "QuotationConfig": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "config_name": {
            "type": "string"
          },
          "speed": {
            "type": "object",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "qty": {
                      "type": "number"
                    },
                    "price": {
                      "type": "number"
                    }
                  }
                }
              },
              "default_option_index": {
                "type": "number"
              }
            }
          },
          "no_of_washes": {
            "type": "object",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "qty": {
                      "type": "number"
                    },
                    "price": {
                      "type": "number"
                    }
                  }
                }
              },
              "default_option_index": {
                "type": "number"
              }
            }
          },
          "industry": {
            "type": "object",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "qty": {
                      "type": "string"
                    },
                    "price": {
                      "type": "number"
                    }
                  }
                }
              },
              "default_option_index": {
                "type": "number"
              }
            }
          },
          "gmp_requirement": {
            "type": "object",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "qty": {
                      "type": "boolean"
                    },
                    "price": {
                      "type": "number"
                    }
                  }
                }
              },
              "default_option_index": {
                "type": "number"
              }
            }
          },
          "bottle_moc": {
            "type": "object",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "qty": {
                      "type": "string"
                    },
                    "price": {
                      "type": "number"
                    }
                  }
                }
              },
              "default_option_index": {
                "type": "number"
              }
            }
          },
          "water_saving": {
            "type": "object",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "qty": {
                      "type": "boolean"
                    },
                    "price": {
                      "type": "number"
                    }
                  }
                }
              },
              "default_option_index": {
                "type": "number"
              }
            }
          },
          "filters_required": {
            "type": "object",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "qty": {
                      "type": "boolean"
                    },
                    "price": {
                      "type": "number"
                    }
                  }
                }
              },
              "default_option_index": {
                "type": "number"
              }
            }
          },
          "illumination_required": {
            "type": "object",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "qty": {
                      "type": "boolean"
                    },
                    "price": {
                      "type": "number"
                    }
                  }
                }
              },
              "default_option_index": {
                "type": "number"
              }
            }
          },
          "auto_level_tank": {
            "type": "object",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "qty": {
                      "type": "boolean"
                    },
                    "price": {
                      "type": "number"
                    }
                  }
                }
              },
              "default_option_index": {
                "type": "number"
              }
            }
          },
          "extra_cups_sets": {
            "type": "object",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "qty": {
                      "type": "number"
                    },
                    "price": {
                      "type": "number"
                    }
                  }
                }
              },
              "default_option_index": {
                "type": "number"
              }
            }
          },
          "created_by": {
            "type": "string"
          },
          "created_date": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "__v": {
            "type": "number"
          }
        },
        "example": {
          "is_active": false,
          "_id": "5d63851ce53bd469f6c63c86",
          "config_name": "PC0001",
          "speed": {
            "options": [
              {
                "qty": 64,
                "price": 508000
              },
              {
                "qty": 96,
                "price": 622500
              }
            ],
            "default_option_index": 0
          },
          "no_of_washes": {
            "options": [
              {
                "qty": 1,
                "price": 24250
              },
              {
                "qty": 2,
                "price": 48500
              }
            ],
            "default_option_index": 0
          },
          "industry": {
            "options": [
              {
                "qty": "Pharma",
                "price": 36000
              },
              {
                "qty": "Liquor",
                "price": 40000
              },
              {
                "qty": "Others",
                "price": 40000
              }
            ],
            "default_option_index": 0
          },
          "gmp_requirement": {
            "options": [
              {
                "qty": true,
                "price": null
              },
              {
                "qty": false,
                "price": null
              }
            ],
            "default_option_index": 0
          },
          "bottle_moc": {
            "options": [
              {
                "qty": "Glass",
                "price": 30000
              },
              {
                "qty": "PET",
                "price": 40000
              }
            ],
            "default_option_index": null
          },
          "water_saving": {
            "options": [
              {
                "qty": true,
                "price": 72000
              },
              {
                "qty": false,
                "price": 0
              }
            ],
            "default_option_index": 0
          },
          "filters_required": {
            "options": [
              {
                "qty": true,
                "price": 41500
              },
              {
                "qty": false,
                "price": 0
              }
            ],
            "default_option_index": 1
          },
          "illumination_required": {
            "options": [
              {
                "qty": true,
                "price": 10000
              },
              {
                "qty": false,
                "price": 0
              }
            ],
            "default_option_index": 0
          },
          "auto_level_tank": {
            "options": [
              {
                "qty": true,
                "price": 30000
              },
              {
                "qty": false,
                "price": 0
              }
            ],
            "default_option_index": 0
          },
          "extra_cups_sets": {
            "options": [
              {
                "qty": 0,
                "price": 0
              },
              {
                "qty": 1,
                "price": 16500
              },
              {
                "qty": 2,
                "price": 33000
              },
              {
                "qty": 3,
                "price": 49500
              },
              {
                "qty": 4,
                "price": 66000
              },
              {
                "qty": 5,
                "price": 82500
              }
            ],
            "default_option_index": 0
          },
          "created_by": "5cbb5d71f3cb256e348e9a56",
          "created_date": "2019-08-26T07:07:08.835Z",
          "__v": 0
        }
      }
    },
    "responses": {
      "response__get__users": {
        "description": "status: success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                },
                "user_id": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              },
              "example": {
                "status": "success",
                "message": "Users retrieved successfully",
                "data": [
                  {
                    "is_active": true,
                    "_id": "5cb8c5baf318582239f7c8a6",
                    "app_permissions": [],
                    "created_date": "2019-04-18T18:45:14.630Z",
                    "username": "admin",
                    "password_hash": "21232f297a57a5a743894a0e4a801fc3",
                    "name": "Sushant Kumar",
                    "gender": "male",
                    "email": "sushant.kum96@gmail.com",
                    "phone": "9740895495",
                    "__v": 0
                  }
                ],
                "user_id": "5cbb5d71f3cb256e348e9a56",
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwidXVpZCI6IjlmYzU1OTdmLWIzODctNGE5ZC1hZTNhLTg5NWU3ZTIzMWU4ZSIsImlhdCI6MTU2NDY1MTE3MCwiZXhwIjoxNTY0OTEwMzcwfQ.RXJBRPyKXWsXQ_CKmPqNBCypyDpD2q8SiF8XSPJk2Z0"
              }
            }
          }
        }
      },
      "response__post__users": {
        "description": "status: success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "$ref": "#/components/schemas/User"
                },
                "user_id": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              },
              "example": {
                "status": "success",
                "message": "User created successfully",
                "data": {
                  "is_active": true,
                  "_id": "5cb8c5baf318582239f7c8a6",
                  "app_permissions": [],
                  "created_date": "2019-04-18T18:45:14.630Z",
                  "username": "admin",
                  "password_hash": "21232f297a57a5a743894a0e4a801fc3",
                  "name": "Sushant Kumar",
                  "gender": "male",
                  "email": "sushant.kum96@gmail.com",
                  "phone": "9740895495",
                  "__v": 0
                },
                "user_id": "5cbb5d71f3cb256e348e9a56",
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwidXVpZCI6IjlmYzU1OTdmLWIzODctNGE5ZC1hZTNhLTg5NWU3ZTIzMWU4ZSIsImlhdCI6MTU2NDY1MTE3MCwiZXhwIjoxNTY0OTEwMzcwfQ.RXJBRPyKXWsXQ_CKmPqNBCypyDpD2q8SiF8XSPJk2Z0"
              }
            }
          }
        }
      },
      "response__get__users__user_id": {
        "description": "status: success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "$ref": "#/components/schemas/User"
                },
                "user_id": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              },
              "example": {
                "status": "success",
                "message": "User retrieved successfully",
                "data": {
                  "is_active": true,
                  "_id": "5cb8c5baf318582239f7c8a6",
                  "app_permissions": [],
                  "created_date": "2019-04-18T18:45:14.630Z",
                  "username": "admin",
                  "password_hash": "21232f297a57a5a743894a0e4a801fc3",
                  "name": "Sushant Kumar",
                  "gender": "male",
                  "email": "sushant.kum96@gmail.com",
                  "phone": "9740895495",
                  "__v": 0
                },
                "user_id": "5cbb5d71f3cb256e348e9a56",
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwidXVpZCI6IjlmYzU1OTdmLWIzODctNGE5ZC1hZTNhLTg5NWU3ZTIzMWU4ZSIsImlhdCI6MTU2NDY1MTE3MCwiZXhwIjoxNTY0OTEwMzcwfQ.RXJBRPyKXWsXQ_CKmPqNBCypyDpD2q8SiF8XSPJk2Z0"
              }
            }
          }
        }
      },
      "response__put__users__user_id": {
        "description": "status: success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "$ref": "#/components/schemas/User"
                },
                "user_id": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              },
              "example": {
                "status": "success",
                "message": "User info updated successfully",
                "data": {
                  "is_active": true,
                  "_id": "5cb8c5baf318582239f7c8a6",
                  "app_permissions": [],
                  "created_date": "2019-04-18T18:45:14.630Z",
                  "username": "admin",
                  "password_hash": "21232f297a57a5a743894a0e4a801fc3",
                  "name": "Sushant",
                  "gender": "male",
                  "email": "sushant.kum96@gmail.com",
                  "phone": "9740895495",
                  "__v": 0
                },
                "user_id": "5cbb5d71f3cb256e348e9a56",
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwidXVpZCI6IjlmYzU1OTdmLWIzODctNGE5ZC1hZTNhLTg5NWU3ZTIzMWU4ZSIsImlhdCI6MTU2NDY1MTE3MCwiZXhwIjoxNTY0OTEwMzcwfQ.RXJBRPyKXWsXQ_CKmPqNBCypyDpD2q8SiF8XSPJk2Z0"
              }
            }
          }
        }
      },
      "response__delete__users__user_id": {
        "description": "status: success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "deletedCount": {
                      "type": "number"
                    },
                    "ok": {
                      "type": "number"
                    },
                    "n": {
                      "type": "number"
                    }
                  }
                },
                "user_id": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              },
              "example": {
                "status": "success",
                "message": "User deleted permanently",
                "data": {
                  "n": 1,
                  "ok": 1,
                  "deletedCount": 1
                },
                "user_id": "5cbb5d71f3cb256e348e9a56",
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwidXVpZCI6Ijc0Y2I2NjE1LWRjOWYtNGI4Yi1hMTI0LWIxOWMwNmViZTg4MyIsImlhdCI6MTU2NjU1MDQ3MiwiZXhwIjoxNTY2ODA5NjcyfQ.sXTH_AG5EjvKc6JNLunKJV7puzoElX4OAWTTwSAznsc"
              }
            }
          }
        }
      },
      "response__patch__users__user_id__disable": {
        "description": "status: success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "$ref": "#/components/schemas/User"
                },
                "user_id": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              },
              "example": {
                "status": "success",
                "message": "User made inactive",
                "data": {
                  "is_active": false,
                  "_id": "5cb8c5baf318582239f7c8a6",
                  "app_permissions": [],
                  "created_date": "2019-04-18T18:45:14.630Z",
                  "username": "admin",
                  "password_hash": "21232f297a57a5a743894a0e4a801fc3",
                  "name": "Sushant",
                  "gender": "male",
                  "email": "sushant.kum96@gmail.com",
                  "phone": "9740895495",
                  "__v": 0
                },
                "user_id": "5cbb5d71f3cb256e348e9a56",
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwidXVpZCI6IjlmYzU1OTdmLWIzODctNGE5ZC1hZTNhLTg5NWU3ZTIzMWU4ZSIsImlhdCI6MTU2NDY1MTE3MCwiZXhwIjoxNTY0OTEwMzcwfQ.RXJBRPyKXWsXQ_CKmPqNBCypyDpD2q8SiF8XSPJk2Z0"
              }
            }
          }
        }
      },
      "response__patch__users__user_id__enable": {
        "description": "status: success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "$ref": "#/components/schemas/User"
                },
                "user_id": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              },
              "example": {
                "status": "success",
                "message": "User made active",
                "data": {
                  "is_active": true,
                  "_id": "5cb8c5baf318582239f7c8a6",
                  "app_permissions": [],
                  "created_date": "2019-04-18T18:45:14.630Z",
                  "username": "admin",
                  "password_hash": "21232f297a57a5a743894a0e4a801fc3",
                  "name": "Sushant",
                  "gender": "male",
                  "email": "sushant.kum96@gmail.com",
                  "phone": "9740895495",
                  "__v": 0
                },
                "user_id": "5cbb5d71f3cb256e348e9a56",
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwidXVpZCI6IjlmYzU1OTdmLWIzODctNGE5ZC1hZTNhLTg5NWU3ZTIzMWU4ZSIsImlhdCI6MTU2NDY1MTE3MCwiZXhwIjoxNTY0OTEwMzcwfQ.RXJBRPyKXWsXQ_CKmPqNBCypyDpD2q8SiF8XSPJk2Z0"
              }
            }
          }
        }
      },
      "response__get__profile__user_id": {
        "description": "status: success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "$ref": "#/components/schemas/User"
                },
                "user_id": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              },
              "example": {
                "status": "success",
                "message": "Profile retrieved successfully",
                "data": {
                  "is_active": true,
                  "_id": "5cb8c5baf318582239f7c8a6",
                  "app_permissions": [],
                  "created_date": "2019-04-18T18:45:14.630Z",
                  "username": "admin",
                  "password_hash": "21232f297a57a5a743894a0e4a801fc3",
                  "name": "Sushant Kumar",
                  "gender": "male",
                  "email": "sushant.kum96@gmail.com",
                  "phone": "9740895495",
                  "__v": 0
                },
                "user_id": "5cbb5d71f3cb256e348e9a56",
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwidXVpZCI6IjlmYzU1OTdmLWIzODctNGE5ZC1hZTNhLTg5NWU3ZTIzMWU4ZSIsImlhdCI6MTU2NDY1MTE3MCwiZXhwIjoxNTY0OTEwMzcwfQ.RXJBRPyKXWsXQ_CKmPqNBCypyDpD2q8SiF8XSPJk2Z0"
              }
            }
          }
        }
      },
      "response__put__profile__user_id": {
        "description": "status: success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "$ref": "#/components/schemas/User"
                },
                "user_id": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              },
              "example": {
                "status": "success",
                "message": "User profile updated successfully",
                "data": {
                  "is_active": true,
                  "_id": "5cb8c5baf318582239f7c8a6",
                  "app_permissions": [],
                  "created_date": "2019-04-18T18:45:14.630Z",
                  "username": "admin",
                  "password_hash": "21232f297a57a5a743894a0e4a801fc3",
                  "name": "Sushant",
                  "gender": "male",
                  "email": "sushant.kum96@gmail.com",
                  "phone": "9740895495",
                  "__v": 0
                },
                "user_id": "5cbb5d71f3cb256e348e9a56",
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwidXVpZCI6IjlmYzU1OTdmLWIzODctNGE5ZC1hZTNhLTg5NWU3ZTIzMWU4ZSIsImlhdCI6MTU2NDY1MTE3MCwiZXhwIjoxNTY0OTEwMzcwfQ.RXJBRPyKXWsXQ_CKmPqNBCypyDpD2q8SiF8XSPJk2Z0"
              }
            }
          }
        }
      },
      "response__get__quotations": {
        "description": "status: success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Quotation"
                  }
                },
                "user_id": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              },
              "example": {
                "status": "success",
                "message": "Quotations retrieved successfully",
                "data": [
                  {
                    "is_active": true,
                    "_id": "5d5fa33d38845139d9c33f3a",
                    "quotation_num": "Q0002",
                    "speed": {
                      "qty": 64,
                      "price": 508000
                    },
                    "no_of_washes": {
                      "qty": 64,
                      "price": 24250
                    },
                    "industry": {
                      "qty": "Pharma",
                      "price": 36000
                    },
                    "gmp_requirement": {
                      "qty": false
                    },
                    "bottle_moc": {
                      "qty": "Glass",
                      "price": 30000
                    },
                    "water_saving": {
                      "qty": true,
                      "price": 72000
                    },
                    "filters_required": {
                      "qty": true,
                      "price": 41500
                    },
                    "illumination_required": {
                      "qty": false
                    },
                    "auto_level_tank": {
                      "qty": true,
                      "price": 30000
                    },
                    "extra_cups_sets": {
                      "qty": 1,
                      "price": 16500
                    },
                    "customer_details": {
                      "name": "Sushant Tech",
                      "address": "Bangalore",
                      "poc": {
                        "title": "Mr",
                        "name": "Sushant"
                      },
                      "contact_no": "9740895495"
                    },
                    "created_by": "5cbb5d71f3cb256e348e9a56",
                    "created_date": "2019-08-23T08:26:37.660Z",
                    "__v": 0
                  }
                ],
                "user_id": "5cbb5d71f3cb256e348e9a56",
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwidXVpZCI6IjQ4NzY2ODJjLTA3ZTItNDQwMi1iM2FhLWY3ZDNlYTEzOTk3YiIsImlhdCI6MTU2NjU1MjUzMywiZXhwIjoxNTY2ODExNzMzfQ._4d58_eAIrkcVuOhbgnj5Vv68o0ztL7GPmAjvASCVG8"
              }
            }
          }
        }
      },
      "response__post__quotations": {
        "description": "status: success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "$ref": "#/components/schemas/Quotation"
                },
                "user_id": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              },
              "example": {
                "status": "success",
                "message": "Quotation created successfully",
                "data": {
                  "is_active": true,
                  "_id": "5d5fa33d38845139d9c33f3a",
                  "quotation_num": "Q0002",
                  "speed": {
                    "qty": 64,
                    "price": 508000
                  },
                  "no_of_washes": {
                    "qty": 64,
                    "price": 24250
                  },
                  "industry": {
                    "qty": "Pharma",
                    "price": 36000
                  },
                  "gmp_requirement": {
                    "qty": false
                  },
                  "bottle_moc": {
                    "qty": "Glass",
                    "price": 30000
                  },
                  "water_saving": {
                    "qty": true,
                    "price": 72000
                  },
                  "filters_required": {
                    "qty": true,
                    "price": 41500
                  },
                  "illumination_required": {
                    "qty": false
                  },
                  "auto_level_tank": {
                    "qty": true,
                    "price": 30000
                  },
                  "extra_cups_sets": {
                    "qty": 1,
                    "price": 16500
                  },
                  "customer_details": {
                    "name": "Sushant Tech",
                    "address": "Bangalore",
                    "poc": {
                      "title": "Mr",
                      "name": "Sushant"
                    },
                    "contact_no": "9740895495"
                  },
                  "created_by": "5cbb5d71f3cb256e348e9a56",
                  "created_date": "2019-08-23T08:26:37.660Z",
                  "__v": 0
                },
                "user_id": "5cbb5d71f3cb256e348e9a56",
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwidXVpZCI6IjQ4MjY5ZGFlLTlmYzYtNGI3OS05NTM2LTIwNGI1Njc4OTdjYSIsImlhdCI6MTU2NjU0ODc5NywiZXhwIjoxNTY2ODA3OTk3fQ.Ci3Rqfi0sr2G4Bbw3B4eWDHq1w2fCw14PAbq10iHhOU"
              }
            }
          }
        }
      },
      "response__get__quotations__quotation_id": {
        "description": "status: success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "$ref": "#/components/schemas/Quotation"
                },
                "user_id": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              },
              "example": {
                "status": "success",
                "message": "Quotation retrieved successfully",
                "data": {
                  "is_active": true,
                  "_id": "5d5fa33d38845139d9c33f3a",
                  "quotation_num": "Q0002",
                  "speed": {
                    "qty": 64,
                    "price": 508000
                  },
                  "no_of_washes": {
                    "qty": 64,
                    "price": 24250
                  },
                  "industry": {
                    "qty": "Pharma",
                    "price": 36000
                  },
                  "gmp_requirement": {
                    "qty": false
                  },
                  "bottle_moc": {
                    "qty": "Glass",
                    "price": 30000
                  },
                  "water_saving": {
                    "qty": true,
                    "price": 72000
                  },
                  "filters_required": {
                    "qty": true,
                    "price": 41500
                  },
                  "illumination_required": {
                    "qty": false
                  },
                  "auto_level_tank": {
                    "qty": true,
                    "price": 30000
                  },
                  "extra_cups_sets": {
                    "qty": 1,
                    "price": 16500
                  },
                  "customer_details": {
                    "name": "Sushant Tech",
                    "address": "Bangalore",
                    "poc": {
                      "title": "Mr",
                      "name": "Sushant"
                    },
                    "contact_no": "9740895495"
                  },
                  "created_by": "5cbb5d71f3cb256e348e9a56",
                  "created_date": "2019-08-23T08:26:37.660Z",
                  "__v": 0
                },
                "user_id": "5cbb5d71f3cb256e348e9a56",
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwidXVpZCI6IjFlMTI4YjM5LTlhMzQtNGMwZi1iZDgyLTExZmNmMWI2YjlhZCIsImlhdCI6MTU2NjU1NjExNCwiZXhwIjoxNTY2ODE1MzE0fQ.5V-FD5px-KZqzLfgVbWA8qrzg_onDL5ypgehsImGvNs"
              }
            }
          }
        }
      },
      "response__put__quotations__quotation_id": {
        "description": "status: success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "data": {
                  "$ref": "#/components/schemas/Quotation"
                },
                "user_id": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              },
              "example": {
                "status": "success",
                "message": "Quotation info updated successfully",
                "data": {
                  "is_active": true,
                  "_id": "5d5fa33d38845139d9c33f3a",
                  "quotation_num": "Q0002",
                  "speed": {
                    "qty": 64,
                    "price": 508000
                  },
                  "no_of_washes": {
                    "qty": 64,
                    "price": 24250
                  },
                  "industry": {
                    "qty": "Pharma",
                    "price": 36000
                  },
                  "gmp_requirement": {
                    "qty": false
                  },
                  "bottle_moc": {
                    "qty": "Glass",
                    "price": 30000
                  },
                  "water_saving": {
                    "qty": true,
                    "price": 72000
                  },
                  "filters_required": {
                    "qty": true,
                    "price": 41500
                  },
                  "illumination_required": {
                    "qty": false
                  },
                  "auto_level_tank": {
                    "qty": true,
                    "price": 30000
                  },
                  "extra_cups_sets": {
                    "qty": 1,
                    "price": 16500
                  },
                  "oteher_details": "asd",
                  "customer_details": {
                    "name": "Sushant Tech",
                    "address": "Bangalore",
                    "person_of_contact": {
                      "title": "Mr",
                      "name": "Sushant"
                    },
                    "contact_no": "9740895495"
                  },
                  "created_by": "5cbb5d71f3cb256e348e9a56",
                  "created_date": "2019-08-23T08:26:37.660Z",
                  "__v": 0
                },
                "user_id": "5cbb5d71f3cb256e348e9a56",
[...]
